body {
    background-color: #202020!important;
}

.borde-inicio{
    border-radius: 25px;
}

.iphone1-product {
    position: absolute;
    right: 5%;
    bottom: -30%;
    transform: rotate(30deg);
}